# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/
dist/
build/

# Salesforce
.sfdx/
.sf/
*.log

# Environment variables
.env
*.env

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Heroku
.heroku/
